{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Профиль пользователя {{ user.username }}</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <button type="submit" class="btn btn-primary">Обновить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Информация</h5>
            </div>
            <div class="card-body">
                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="Аватар" class="img-fluid mb-3">
                {% endif %}
                <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Имя:</strong> {{ user.first_name }}</p>
                <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
                <p><strong>Биография:</strong> {{ user.profile.bio|default:"Не указана" }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}